@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-vazirmatn);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-vazirmatn), Arial, Helvetica, sans-serif;
  direction: rtl;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1 !important;
  }
}


.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  position: relative;
  left: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Color of the scrollbar track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #858585; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded corners for the thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the thumb on hover */
}
